
@{
    ViewData["Title"] = "Jogo de Cartas - Duvido";
}

<div class="container">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="row">
        <div class="form-group">
            Downloads: <a href="~/Downloads/CardGame-Baralho.zip">Baralho</a>, <a href="~/Downloads/Classes-Baralho.zip">Classes do Baralho</a>, <a href="~/downloads/Unity-WebSocket-Core.zip">Unity WebSockets</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Regras</h3>

            <ul>
                <li>O jogo não tem um limite formal para o número de jogadores, mas é melhor com pelo menos 2 jogadores.</li>
                <li>Comece distribuindo as cartas aos jogadores, até acabar. Começa o jogador que estiver à direita (ou esquerda, escolha) de quem distribuiu as cartas.</li>
                <li>A pessoa começa escolhendo algumas cartas dentre as que possui e coloca-as sobre a mesa, com as faces escondidas, afirmando que são de um certo tipo (número ou figura). O próximo jogador pode duvidar, adicionar mais cartas do mesmo tipo ou passar a vez. Se duvidar, faz-se a verificação das cartas. Se não forem o que o jogador alegou, o mesmo recolhe todas as cartas da mesa. Se forem, quem duvidou fica com todas as cartas da mesa.</li>
                <li>No caso de o primeiro jogador fazer a sua jogada e todos jogarem por cima e se o primeiro jogador não voltar a jogar a primeira carta que jogou, ganha quem foi o ultimo a jogar na ronda.</li>
                <li>O jogo acaba quando alguém ficar sem cartas.</li>
            </ul>
        </div>
    </div>
</div>
