<div class="jumbotron">
    <div class="container">
        <h1>Programação de Jogos em Rede</h1>
        <p>SENAC - @DateTime.Now.Year</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Ping</h2>
            <p>Exemplo de uso de WebSockets</p>
            <p><a class="btn btn-default" asp-action="Chat">Ver</a></p>
        </div>

        <div class="col-md-4">
            <h2>Mobile Services</h2>
            <p>Consulta à tabela de Mobile Services</p>
            <p><a class="btn btn-default" asp-action="MobileServices">Ver</a></p>
        </div>

        <div class="col-md-4">
            <h2>Jogo Client-Server</h2>
            <p>Jogo Client-Server em HTML5 e WebSockets </p>
            <p><a class="btn btn-default" asp-action="ClientServer">Ver</a></p>
        </div>
    </div>
</div>